.cloud-circle{
float: left;
margin-left: 100px;
width: 500px;
height: 275px;
background: c#000;
border-radius: 50%;
filter:url(#filter);
box-shadow: 400px 400px 60px 0px rgb(202, 8, 8);
position: absolute;
top: -320px;
left: -320px;
}