.header {
    padding: 1rem 0 3rem;
}

.title {
   color: #000000;
   font-size: 3rem;
    text-decoration: none;
}

.nav-list {
    display: inline-flex;
    text-align: center;
    list-style-type: none;
    margin: 0;
    
}

.nav-item {
    color: #999999;
    font-size: .9rem;
    margin-right: .8rem;
    margin-left: .8rem;
    text-decoration: none;
    
}

.nav-item:hover {
    color: #5e4b4b;
    text-shadow: 0 0 10px rgb(255, 224, 224), 0 0 20px #2ef159,  0 0 30px #2ef159;
}

.active-nav-item {
    color: #333333;
}
